<div class="page-header">
  <h3>Report From <%= "#{start_date} to #{end_date}" %> </h3>
</div>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
    <tr class="black-white">
      <th class="text-align-center">Name</th>
      <th class="text-align-center">Type</th>
      <th class="text-align-center">Category_name</th>
      <th class="text-align-center">Amount</th>
      <th class="text-align-center">Description</th>
      <th class="text-align-center">At</th>
      <!--<th colspan="3"></th>-->
    </tr>
    </thead>
    <tbody>
    <tr>
      <% if transactions.present? %>
        <% transactions.each do |t| %>
          <tr class="<%= cycle("cycle-1", "cycle-2") -%>" align="center">
            <td><%= t.name %></td>
            <td><%= t.trackable_type %></td>
            <td><%= t.category_name %></td>
            <td><%= t.amount %></td>
            <td><%= t.description %></td>
            <td><%= t.created_at.to_date %></td>
          </tr>
        <% end %>
      <% else %>

      <% end %>
    </tr>
    </tbody>
  </table>
</div>
<% if transactions.present? %>
  <%= link_to "Download Invoice (PDF)", download_report_path(:transactions => transactions, :start_date => start_date, :end_date => end_date, :format => "pdf") %>
<% end %>
